<div class="glb-footer">
    <div class="container">
        <div class="wrapper">
            <div class=" glb-footer-logo">
                {% set siteLogo = "/assets/img/logo.svg" %}
                {% for image in company.logo.all() %}
                    {% set siteLogo = image.url %}
                {% endfor %}
                <a href="/" class="site-logo">
                    <img src="{{ siteLogo }}" alt="site-logo" width="150px" height="125px">
                </a>
            </div>
        </div>
        <div class="wrapper wrapper--flex">
            <div class="glb-footer-content">
                {% if site.footerContent %}<p>{{ site.footerContent }}</p>{% endif %}
                <!-- Social Icons -->
            </div>
            <nav class="glb-footer-nav">
                <ul class="site-nav__list">
                    <li class="site-nav__item site-nav__subtitle">Subtitle<li>

                    {% for link in site.footerNav.all() %}
                        {% set url = link.externalLink %}
                        {% set external = true %}

                        {% if link.internalLink.exists() %}
                            {% set external = false %}
                            {% for page in link.internalLink.all() %}
                                {% set url = page.url %}
                            {% endfor %}
                        {% endif %}

                        {% set entries = craft.entries.section('pages') %}
                        {% set slugs = craft.app.request.segments %}

                        <li class="site-nav__item">
                            <a href="{{ url }}" {% if external %}target="_blank"{% endif %} class="site-nav__link {% if entry.slug in url %}active{% else %}{% endif %}">{{ link.headline }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="site-nav__list">
                    <li class="site-nav__item site-nav__subtitle">Subtitle<li>
                    {% for address in company.companyAddress %}
                        <li class="site-nav__item">
                            <a class="site-nav__link" href="../components/header.html">{{ address.addressLine }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="site-nav__list">
                    <li class="site-nav__item site-nav__subtitle">Subtitle<li>
                    {% if company.chdFooterText %}
                        <li class="site-nav__item">
                            <p>{{ company.chdFooterText }}</p>
                        </li>
                    {% endif %}
                    {% if company.clientHelpDeskLink %}
                        <li class="site-nav__item site-nav__btn">
                            <a href="{{ company.clientHelpDeskLink }}" class="site-nav__link btn btn--s-border">Client Portal</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="glb-credits">
    <div class="wrapper">
        <p>Copyright reserved by Integral Facilities Management. 2019.</p>
    </div>
</div>
