<section class="text-block {% if block.secondaryColour %}text-block--bgsecondary{% endif %}">
    <div class="container">
        <div class="wrapper wrapper--flex">
            <div class="text-block__content">
                <div class="subtitle">
                    {% if block.subtitle %}
                        <hr class="subtitle-dash">
                        <h4>{{ block.subtitle }}</h4>
                    {% endif %}
                </div>
                {% if block.headline %}<h2 class="block-title--h2">{{ block.headline }}</h2>{% endif %}
                <h3 class="block-title--h3">Facilities, Property & Corporate Services Management</h3>
                <div class="block__actions">
                    {% if block.pageLink %}
                        <a href="{{ block.pageLink }}">
                            <button class="btn btn--s-solid item--margin-right">Read More</button>
                        </a>
                    {% endif %}
                    {% if block.contactLink %}
                        <a href="{{ block.contactLink }}"><button class="btn btn--s-border">Contact Us</button></a>
                    {% endif %}
                </div>
            </div>
            <div class="text-block__content">
                {% if block.contentText %}
                    <p>{{ block.contentText }}</p>
                {% endif %}
                {# <ul class="text-block__list">
                    {% for listItem in block.contentList %}
                        {% if block.listItem %}<li class="text-block__item">{{ block.listItem }}</li>{% endif %}
                    {% endfor %}
                </ul> #}

            </div>
        </div>
    </div>
</section>
